.loginbody {
    height: 89vh;
    width: 100%;
    background-image: url('https://plus.unsplash.com/premium_photo-1681433350069-dbc0d526b6c1?q=80&w=1806&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'), linear-gradient(rgba(89, 113, 147, 0.3), rgba(183, 206, 211, 0.3));
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    filter: brightness(0.7) contrast(1.9);
  }