.profilebody {
    /* height: 89vh; */
    width: 100%;
    background-image: url('https://img.freepik.com/free-vector/vector-technology-abstract-background-with-particle-lines_53876-111549.jpg?w=996&t=st=1718274614~exp=1718275214~hmac=f1a0faf8ef1c4bd483debecbfe06a592e5480bddafb319986da52935718da12c');
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
  }