.registerbody {
  height: 89vh;
  width: 100%;
  background-image: url('https://img.freepik.com/premium-photo/banner-background-cityscape-white-textured-backgrounds_879987-5420.jpg?w=1060'), linear-gradient(rgba(89, 113, 147, 0.3), rgba(183, 206, 211, 0.3));
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  filter: brightness(0.7) contrast(1.9);
}

.registercontainer{
  margin: 10px;
}